name: Release

on:
    push:
        tags:
            - "*"

permissions:
    contents: write

jobs:
    goreleaser:
        runs-on: ubuntu-20.04
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Unshallow
              run: git fetch --prune --unshallow
            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: 1.21.0
            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@v2.9.1
              with:
                  version: latest
                  args: release --rm-dist
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
